<form class="form-horizontal">
  <legend ng-transclude>US Address</legend>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Street</label>
    <div class="controls">
      <input type="text" placeholder="Street" ng-model="abcAddress.street">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">City</label>
    <div class="controls">
      <input type="text" ng-model="abcAddress.city" placeholder="City">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">State</label>
    <div class="controls">
      <input type="text" ng-model="abcAddress.state" placeholder="State">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Zip</label>
    <div class="controls">
      <input type="text" ng-model="abcAddress.zip" placeholder="Zip">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>